*{margin : 0;}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav{
    padding-right: 50px;
    display: flex;
    gap: 60px;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 60px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li:active {
    transform: scale(1.5);
    color: rgb(0, 255, 242);
}

li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: inherit;
}

button{
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: orangered;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  background:  rgb(0, 128, 255);
}

button:active {
  transform: scale(0.9);
  background-color: rgb(0, 255, 242);
}


.acceuil{
    display: flex;
    margin-left: 100px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 90px;
    padding-right: 10px;
    padding-left: 37px;
}

.presentation, .maphoto{
    flex: 1;
}

.maphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
img{
    width: 350px;
    border-radius: 50px;
     transition: 0.4s;
}

.direc:hover {
    transform: scale(1.1);
}

.A{
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.B{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.C {
    color: orangered;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.D { line-height: 1.5;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.partie {color : blue;
font-weight: bold;
font-size: 42px;
}

.gras {font-weight: bold;}

.presentation{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

.tele {
    background-color: gray;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 0px;
}

.proj, .tele {
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    padding: 10px;
    margin-right: 70px;
    margin-left: 0px;
    border-radius: 0px;
}

/* Deuxième page */

.moi{background-color: blue;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 40px;
}

.experience{
    display: flex;
    justify-content: center;
    gap : 150px;
    align-items: center;
}

.montext{
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 40px;
    padding-left: 240px;
    padding-right: 240px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titre {
    color: white;
    font-weight: bold;
}

.Text{
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

.experience {
    width: 500px;
    color: orangered;
    background-color: white;
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* Troisième page */


.mesServices {
    justify-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.serv1 {
   text-align: center;
}

.serv2 {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.serv3 {
    text-align: center;
    font-size: 18px;
}

.serv2 .S {
    margin: 30px;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border: 3px solid blue;
}

.serv2 .S > :first-child {
    font-size: 50px;
    color: orangered;
}

.P {
    font-size: 18px;
}

.mesProjets {
    background-color: blue;
    padding-bottom: 30px;
    padding-top: 70px;
}

.projets1 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

#I1 {
    border-radius: 0px;
    height: 180px;
    transition: 0.4s;
}

#I2 {
    border-radius: 0px;
    width: 200px;
    height: 180px;
    transition: 0.4s;
}

#I3 {
    border-radius: 0px;
    width: 200px;
    height: 180px;
    transition: 0.4s;
}

#I4 {
    border-radius: 0px;
    width: 200px;
    height: 180px;
    transition: 0.4s;
}

.P1, .P2, .P3, .P4 {
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.introprojets {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.introprojets p {
    font-size: 18px;
}

.introprojets h1 {
    font-weight: bold;
}

.projets2 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

#I5 {
    border-radius: 0px;
    width: 300px;
    height: 180px;
    transition: 0.4s; 
}

#I6 {
    border-radius: 0px;
    width: 300px;
    height: 180px;
    transition: 0.4s;
}

#I7 {
    border-radius: 0px;
    width: 200px;
    height: 180px;
    transition: 0.4s;
}

#I8 {
    border-radius: 0px;
    width: 200px;
    height: 180px;
    transition: 0.4s;
}

.P5, .P6, .P7, .P8 {
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projets3 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

#I9, #I11 {
     border-radius: 0px;
    width: 200px;
    height: 180px;
     transition: 0.4s;
}

#I10 {
    border-radius: 0px;
    width: 300px;
    height: 180px;
    transition: 0.4s;
} 

.P9, .P10, .P11 {
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img:hover {
    transform: scale(1.3);
}


/* Quatrième page */

.mesCompetences {
    justify-items: center;
    padding-bottom: 25px;
    padding-top: 50px;
}

.bar {
    background-color: rgb(124, 124, 124);
    height: 7px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.progres {
    height: 7px;
    background: linear-gradient(90deg, orangered);
    border-radius: 10px;
    transition: width 1s;
}

.pourcentage {
    display: grid;
    grid-template-columns: 400px 1fr 50px;
    align-items: center;
    gap: 15px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.competences1, .competences2 {
    width: 575px;
}

.competences1 {
    padding-left: 140px;
}

.titreComp, .chiffre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}

.textSkills {
    justify-items: center;
    padding-top: 25px;
    width: 625px;
    text-align: center; 
}

.textSkills p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cinquième page */

.collaboration {
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-top: 70px;
}

.mesContacts {
    width: 450px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 100px;
}

#Ic {
    margin-right: 10px;
}

#L1:active {
    transform: scale(1.5);
    color: orangered;
}

#L1:hover {
    transform: scale(1.2);
}

#L2:active {
    transform: scale(1.5);
    color: orangered;
}

#L2:hover {
    transform: scale(1.2);
}

#L3:active {
    transform: scale(1.5);
    color: orangered;
}

#L3:hover {
    transform: scale(1.3);
}

#L4:active {
    transform: scale(1.5);
    color: orangered;
}

#L4:hover {
    transform: scale(1.4);
}

#Pcontact {
    font-size: 18px;
    line-height: 1.5;
}

#icone {
    font-size: 18px;
}

.num:active {
    transform: scale(1.5);
    color: orangered;
}

.mail:active {
    transform: scale(1.5);
    color: orangered;
}

label {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    color: white;
}

input {
    width: 400px;
    height: 25px;
    display: block;
    border: 2px solid black;
    background-color: rgb(225, 224, 224);
    margin-top: 10px;
}

textarea {
    width: 400px;
    height: 100px;
    display: block;
     border: 2px solid black;
    background-color: rgb(225, 224, 224);
    margin-top: 10px;
}

#titreForm {
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#EnvoiForm {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 0px;
    width: 100px;
}

#L1, #L2, #L3, #L4 {
    margin-right: 30px;
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.lienFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#partie2 {
    color: orangered;
    font-size: 32px;
}

.titreFooter {
    margin-left: 60px;
    margin-right: 30px;
}

.Pfooter {
    padding-right: 30px;
    line-height: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


